rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /preset_excuses/{document=**} {
      // all users are allowed to see the pre-set excuses
    	allow read;
    }
    match /excuses/{document=**} {
      // only authenticated users are allowed to make new transaction documents
      allow create: if request.auth != null;

      // logged in user uid must match the document creator to read, update, and delete
      allow read, update, delete: if request.auth.uid == resource.data.uid;
    }
  }
}